
.filters{
    display: flex;
    flex-direction: row;
}

.continentes{
    display: flex;
    flex-direction: column;
    margin-left:480px;
    margin-top: -10px;
    align-items: center;
} 

.world{
    background-image: url('../imagenes/iconWorld.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 150px;
    height: 150px;
    cursor:pointer
   
}

.world:focus{
    background-color:  white;
    border-radius: 50%;
}

.africac{
    background-image: url('../imagenes/iconAfrica.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 150px;
    height: 150px;
    cursor:pointer  
}
.africac:focus{
    background-color:  white;
    border-radius: 50%;
}

 .europe{
    background-image: url('../imagenes/iconEuropa.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 150px;
    height: 150px;
    cursor:pointer
}


.europe:focus{
    background-color:  white;
    border-radius: 50%;
}
.norte{
    background-image: url('../imagenes/iconNorte.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 150px;
    height: 150px;
    cursor:pointer;
    margin-top: 10px;
    
}
.norte:focus{
    background-color:  white;
    border-radius: 50%;
}

.Asiaa{
    background-image: url('../imagenes/iconAsia.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 150px;
    height: 150px;
    cursor:pointer 
}
.Asiaa:focus{
    background-color:  white;
    border-radius: 50%;
}


.oceaniaa{
    background-image: url('../imagenes/iconOceania.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 150px;
    height: 150px;
    cursor:pointer 
}
.oceaniaa:focus{
    background-color:  white;
    border-radius: 50%;
}

.sur{
    background-image: url('../imagenes/iconSur.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 150px;
    height: 150px;
    cursor:pointer 
}
.sur:focus{
    background-color:  white;
    border-radius: 50%;
}

.antartida{
    background-image: url('../imagenes/iconAntartida.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 150px;
    height: 150px;
    cursor:pointer;
} 
.antartida:focus{
    background-color:  white;
    border-radius: 50%;
}

/* ----------select---------------- */

.selectores{
    display: flex;
    flex-direction: row;
    margin-top: -32px;
    margin-left: -200px;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
    margin-top: 30px;
    margin-left: 100px;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: white;
 }
